# Coinbase: portfolio reporting

In [1]:
%load_ext autoreload
%autoreload 2
from surfingcrypto import Config
from surfingcrypto.coinbase import MyCoinbase
from surfingcrypto.coinbase import TransactionsGetter
import pandas as pd

In [2]:
parent="/Users/giorgiocaizzi/Documents/GitHub/surfingcrypto/"
c=Config(parent+"config")

In [3]:
cb=MyCoinbase(
    active_accounts=False,
    from_dict=True,
    configuration=c)

In [4]:
print(cb.mycoinbase_report())

AAVE : EUR 120.31
SUSHI : EUR 67.92
MATIC : EUR 343.92
UNI : EUR 108.02
ADA : EUR 324.95
USDC : EUR 0.01
---
Portfolio: EUR 965.13

In [5]:
t=TransactionsGetter(cb)

Warning! There were 9 errors during the handling of transactions.

In [6]:
t.df

,type,amount,symbol,native_amount,nat_symbol,total,subtotal,total_fee,spot_price,trade_id
datetime,,,,,,,,,,
2022-01-04T10:46:31Z,send,-1.511428,SOL,-226.08,EUR,NaN,NaN,NaN,149.580369,None
2022-01-04T10:44:49Z,trade,1.511428,SOL,225.73,EUR,NaN,NaN,NaN,149.348800,5851e642-8786-585b-a5d7-8546c8c16129
2022-01-02T23:24:25Z,send,-1.026156,SOL,-159.04,EUR,NaN,NaN,NaN,154.986191,None
2021-11-29T10:47:17Z,trade,1.026156,SOL,186.85,EUR,NaN,NaN,NaN,182.087335,18160e53-8019-561c-a812-efd59cc7a354
2021-08-07T14:25:58Z,trade,-2737.634483,ACH,-299.46,EUR,NaN,NaN,NaN,0.109386,4dbcbf9c-cd0d-56cb-8e25-f1da9a64558f
...,...,...,...,...,...,...,...,...,...,...
2021-05-01T21:45:54Z,trade,0.494161,ETH,1205.04,EUR,NaN,NaN,NaN,2438.557721,545826bf-d838-5b49-b066-944af7a4dd1f
2021-05-01T19:09:11Z,trade,-0.258429,ETH,-630.96,EUR,NaN,NaN,NaN,2441.520900,6b8d639b-985b-5384-8046-35a0f71ad094
2021-04-20T18:57:40Z,buy,0.258429,ETH,500.00,EUR,500.00,492.66,7.34,1906.364408,None
2018-11-09T12:05:12Z,sell,-0.017237,BTC,-93.27,EUR,93.27,96.26,2.99,5584.488743,None
2018-10-22T06:29:22Z,buy,0.017237,BTC,100.00,EUR,100.00,97.01,2.99,5627.999719,None