# Coinbase: portfolio reporting

In [9]:
%load_ext autoreload
%autoreload 2
from surfingcrypto.coinbase import MyCoinbase
from surfingcrypto.coinbase.portfolio import PortfolioAnalysis
from surfingcrypto import Config
import pandas as pd

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
parent="/Users/giorgiocaizzi/Documents/GitHub/surfingcrypto/"
c=Config(parent+"config")

In [3]:
cb=MyCoinbase(
    active_accounts=False,
    # from_dict=True,
    configuration=c)

In [4]:
type(cb.get_accounts())

list

In [5]:
len(cb.accounts)

30

In [6]:
print(cb.mycoinbase_report())

AAVE : EUR 138.82
SUSHI : EUR 80.71
MATIC : EUR 394.03
UNI : EUR 132.78
ADA : EUR 376.57
USDC : EUR 0.01
---
Portfolio: EUR 1122.92

In [7]:
cb.history()

Warning! There were 9 errors during the handling of transactions.

In [8]:
cb.error_log

[{'transaction_type': 'buy',
  'account_id': 'af38031b-b9e5-5825-bb3e-77ea783ac192',
  'transaction_id': '22d9ed43-e213-5726-a127-6f80dbb8b3d1',
  'info': {'amount': -200.0, 'symbol': 'EUR', 'date': '2021-04-27T06:07:25Z'},
  'error_log': coinbase.wallet.error.NotFoundError(<Response [404]>,
                                      'not_found',
                                      'Not found',
                                      [{'id': 'not_found',
                                        'message': 'Not found'}])},
 {'transaction_type': 'buy',
  'account_id': 'af38031b-b9e5-5825-bb3e-77ea783ac192',
  'transaction_id': 'a3428ab3-6dc6-5959-817f-b4ed1df29ea2',
  'info': {'amount': -213.69, 'symbol': 'EUR', 'date': '2021-04-24T08:53:48Z'},
  'error_log': coinbase.wallet.error.NotFoundError(<Response [404]>,
                                      'not_found',
                                      'Not found',
                                      [{'id': 'not_found',
                                        'message': 'Not found'}])},
 {'transaction_type': 'sell',
  'account_id': 'af38031b-b9e5-5825-bb3e-77ea783ac192',
  'transaction_id': '54907a60-c982-5edf-ab93-fe199c7c9649',
  'info': {'amount': 213.69, 'symbol': 'EUR', 'date': '2021-04-22T19:20:14Z'},
  'error_log': coinbase.wallet.error.NotFoundError(<Response [404]>,
                                      'not_found',
                                      'Not found',
                                      [{'id': 'not_found',
                                        'message': 'Not found'}])},
 {'transaction_type': 'buy',
  'account_id': 'af38031b-b9e5-5825-bb3e-77ea783ac192',
  'transaction_id': 'fbbca3d1-5d4b-50ca-acf7-76c355caeb5a',
  'info': {'amount': -250.0, 'symbol': 'EUR', 'date': '2021-04-22T10:13:53Z'},
  'error_log': coinbase.wallet.error.NotFoundError(<Response [404]>,
                                      'not_found',
                                      'Not found',
                                      [{'id': 'not_found',
                                        'message': 'Not found'}])},
 {'transaction_type': 'buy',
  'account_id': 'af38031b-b9e5-5825-bb3e-77ea783ac192',
  'transaction_id': 'da376431-570a-55a3-bbe1-f44c6da7d6bf',
  'info': {'amount': -500.0, 'symbol': 'EUR', 'date': '2021-04-20T18:57:41Z'},
  'error_log': coinbase.wallet.error.NotFoundError(<Response [404]>,
                                      'not_found',
                                      'Not found',
                                      [{'id': 'not_found',
                                        'message': 'Not found'}])},
 {'transaction_type': 'sell',
  'account_id': 'af38031b-b9e5-5825-bb3e-77ea783ac192',
  'transaction_id': 'd6f31059-d03c-5170-b6f0-6b0a1f725b81',
  'info': {'amount': 35.96, 'symbol': 'EUR', 'date': '2019-01-25T14:28:56Z'},
  'error_log': coinbase.wallet.error.NotFoundError(<Response [404]>,
                                      'not_found',
                                      'Not found',
                                      [{'id': 'not_found',
                                        'message': 'Not found'}])},
 {'transaction_type': 'buy',
  'account_id': 'af38031b-b9e5-5825-bb3e-77ea783ac192',
  'transaction_id': '22b02587-56fd-5492-9df4-c40bcf9c2d30',
  'info': {'amount': -93.27, 'symbol': 'EUR', 'date': '2018-11-09T12:06:15Z'},
  'error_log': coinbase.wallet.error.NotFoundError(<Response [404]>,
                                      'not_found',
                                      'Not found',
                                      [{'id': 'not_found',
                                        'message': 'Not found'}])},
 {'transaction_type': 'sell',
  'account_id': 'af38031b-b9e5-5825-bb3e-77ea783ac192',
  'transaction_id': '57d63f1e-b8f1-51e4-8a74-10ba7e3bb7c7',
  'info': {'amount': 93.27, 'symbol': 'EUR', 'date': '2018-11-09T12:05:13Z'},
  'error_log': coinbase.wallet.error.NotFoundError(<Response [404]>,
                                      'not_found',
                                      'Not found',
                                      [{'id': 'not_found',
                                        'message': 'Not found'}])},
 {'transaction_type': 'buy',
  'account_id': 'af38031b-b9e5-5825-bb3e-77ea783ac192',
  'transaction_id': '0a7bdc5f-80de-520e-a77d-8c75ce0dad23',
  'info': {'amount': -100.0, 'symbol': 'EUR', 'date': '2018-10-22T06:29:22Z'},
  'error_log': coinbase.wallet.error.NotFoundError(<Response [404]>,
                                      'not_found',
                                      'Not found',
                                      [{'id': 'not_found',
                                        'message': 'Not found'}])}]

In [10]:
portfolio=PortfolioAnalysis(cb.my_coinbase)
portfolio.std_df

,type,amount,symbol,native_amount,nat_symbol,total,subtotal,total_fee,spot_price,trade_id
datetime,,,,,,,,,,
2022-01-04T10:44:49Z,buy,1.511428,SOL,225.73,EUR,NaN,NaN,2.230,149.348800,5851e642-8786-585b-a5d7-8546c8c16129
2021-11-29T10:47:17Z,buy,1.026156,SOL,186.85,EUR,NaN,NaN,1.620,182.087335,18160e53-8019-561c-a812-efd59cc7a354
2021-08-07T14:25:58Z,sell,2737.634483,ACH,299.46,EUR,NaN,NaN,-1.440,0.109386,4dbcbf9c-cd0d-56cb-8e25-f1da9a64558f
2021-08-06T23:12:51Z,buy,2737.634483,ACH,392.16,EUR,NaN,NaN,1.475,0.143248,78ad03ab-9076-593d-87f5-524da82304dd
2021-07-31T10:18:14Z,sell,4.123547,QNT,450.91,EUR,NaN,NaN,-3.225,109.350039,6ff73f15-78ae-56e1-8a01-ce15bbf64660
...,...,...,...,...,...,...,...,...,...,...
2021-05-01T21:45:54Z,buy,0.494161,ETH,1205.04,EUR,NaN,NaN,-7.500,2438.557721,545826bf-d838-5b49-b066-944af7a4dd1f
2021-05-01T19:09:11Z,sell,0.258429,ETH,630.96,EUR,NaN,NaN,3.265,2441.520900,6b8d639b-985b-5384-8046-35a0f71ad094
2021-04-20T18:57:40Z,buy,0.258429,ETH,500.00,EUR,500.00,492.66,7.340,1906.364408,None
2018-11-09T12:05:12Z,sell,0.017237,BTC,93.27,EUR,93.27,96.26,2.990,5584.488743,None
2018-10-22T06:29:22Z,buy,0.017237,BTC,100.00,EUR,100.00,97.01,2.990,5627.999719,None

In [11]:
portfolio.portfolio_value(cb.client)

  symbol      amount  live_value
0   AAVE    1.001178  139.023528
1    ADA  395.345694  376.487704
2  MATIC  257.829804  395.072609
3  SUSHI   21.493860   81.031852
4    UNI   13.238243  133.176723
5   USDC    0.006479    0.005811
Total portfolio balance: 1124.80 EUR

In [12]:
portfolio.total_fees()

41.07000000000001

In [13]:
portfolio.total_by_type()

                 native_amount
type
buy                    1606.96
fiat_deposit           1050.00
fiat_withdrawal         -35.96
sell                   -342.92
send                   -352.63
trade                  -319.44