In [2]:
from surfingcrypto.config import config
from surfingcrypto.ts import TS

In [3]:
parent="/Users/giorgiocaizzi/Documents/GitHub/surfingcrypto/"
c=config(parent+"config",parent+"data")
ts=TS(c,coin="BTC")

In [4]:
ts.df

,Open,High,Low,Close,Volume,Market Cap
Date,,,,,,
2017-10-01 00:00:00+00:00,3675.118358,3729.454806,3614.807026,3729.454806,1.023213e+09,6.190284e+10
2017-10-02 00:00:00+00:00,3722.738871,3810.612889,3727.718608,3758.690499,1.220467e+09,6.239506e+10
2017-10-03 00:00:00+00:00,3757.957515,3785.524139,3623.045629,3675.702350,1.096561e+09,6.102594e+10
2017-10-04 00:00:00+00:00,3677.311525,3701.573447,3579.984629,3597.924171,9.500383e+08,5.974056e+10
2017-10-05 00:00:00+00:00,3598.366553,3727.477902,3536.648382,3695.389871,9.918637e+08,6.136453e+10
...,...,...,...,...,...,...
2021-12-28 00:00:00+00:00,44732.223120,44732.223120,41924.260801,42064.883281,2.954988e+10,7.955981e+11
2021-12-29 00:00:00+00:00,42095.834452,42554.259831,40696.170503,40885.139311,2.645224e+10,7.733222e+11
2021-12-30 00:00:00+00:00,40925.541033,42321.101505,40583.373448,41666.918717,2.356906e+10,7.881404e+11
2021-12-31 00:00:00+00:00,41659.188229,42793.970895,40254.158854,40712.720044,3.250777e+10,7.701276e+11
2022-01-01 00:00:00+00:00,40717.378531,42049.867481,40696.929552,41926.340052,2.161313e+10,7.931318e+11

In [5]:
ts.df.loc[:,["Close"]]

                                  Close
Date
2017-10-01 00:00:00+00:00   3729.454806
2017-10-02 00:00:00+00:00   3758.690499
2017-10-03 00:00:00+00:00   3675.702350
2017-10-04 00:00:00+00:00   3597.924171
2017-10-05 00:00:00+00:00   3695.389871
...                                 ...
2021-12-28 00:00:00+00:00  42064.883281
2021-12-29 00:00:00+00:00  40885.139311
2021-12-30 00:00:00+00:00  41666.918717
2021-12-31 00:00:00+00:00  40712.720044
2022-01-01 00:00:00+00:00  41926.340052

[1554 rows x 1 columns]