# TS: a time-series object optimized for crypto

The object `surfingcrypto.ts.TS` is specifically designed for cryptocurrencies price data.

To initiate the object, first load the package configuration.

In [1]:
from surfingcrypto import Config,TS
parent="/Users/giorgiocaizzi/Documents/GitHub/surfingcrypto/"
c=Config(parent+"config")

Itiate a `TS` object by passing the `Config` object and specify the `coin` code string.

The data must be available locally in the path loaded as `Config.data_folder` attribute. If required, data can be first scraped with the `surfingcrypto.scraper.Scraper` object.

In [2]:
ts=TS(c,coin="BTC")
ts.df

                                   Open  ...    Market Cap
Date                                     ...
2017-10-01 00:00:00+00:00   3675.118358  ...  6.190284e+10
2017-10-02 00:00:00+00:00   3722.738871  ...  6.239506e+10
2017-10-03 00:00:00+00:00   3757.957515  ...  6.102594e+10
2017-10-04 00:00:00+00:00   3677.311525  ...  5.974056e+10
2017-10-05 00:00:00+00:00   3598.366553  ...  6.136453e+10
...                                 ...  ...           ...
2022-01-24 00:00:00+00:00  31985.873597  ...  6.130429e+11
2022-01-25 00:00:00+00:00  32369.749147  ...  6.192109e+11
2022-01-26 00:00:00+00:00  32690.268271  ...  6.209472e+11
2022-01-27 00:00:00+00:00  32774.573832  ...  6.312147e+11
2022-01-28 00:00:00+00:00  33315.501493  ...  6.419461e+11

[1581 rows x 6 columns]

In [3]:
ts.df.loc[:,["Close"]]

                                  Close
Date
2017-10-01 00:00:00+00:00   3729.454806
2017-10-02 00:00:00+00:00   3758.690499
2017-10-03 00:00:00+00:00   3675.702350
2017-10-04 00:00:00+00:00   3597.924171
2017-10-05 00:00:00+00:00   3695.389871
...                                 ...
2022-01-24 00:00:00+00:00  32369.328138
2022-01-25 00:00:00+00:00  32693.353397
2022-01-26 00:00:00+00:00  32783.685112
2022-01-27 00:00:00+00:00  33324.286205
2022-01-28 00:00:00+00:00  33889.108564

[1581 rows x 1 columns]